@import '../Styles/Utils/variables.scss';

.tags {
    display: flex;
    gap: 10px;

}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    min-height: 18px;
    color: $tertiary-color;
    background-color: $primary-color;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    margin: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        width: 115px;
        min-height: 25px;
    }
}