@import '../Styles/Utils/variables.scss';

.etoiles {
    height: 18px;

    @media screen and (min-width: 768px) {
        height: 36px;
    }
}

.etoilePleine {
    fill: $primary-color !important;
    margin: 2px;

    @media screen and (min-width: 768px) {
        margin: 5px;
    }
}

.etoileVide {
    fill: $tertiary-color !important;
    margin: 2px;

    @media screen and (min-width: 768px) {
        margin: 5px;
    }
}