@import '../Styles/Utils/variables.scss';

.collaps {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    h2 {
        color: $tertiary-color;
        font-size: 13px;
        font-weight: 500;
        margin: 0 10px;

        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
    }

    .chevron {
        filter: invert(1);     //inverser la couleur noir/blanc
        font-size: 16px;
        font-weight: 500;
        margin: 0 10px;

        @media screen and (min-width: 768px) {
            font-size: 32px;
        }
    }

    .rotate {
        transform: rotate(180deg);
    }

    .titleContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        border-radius: 5px;
        color: $tertiary-color !important;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            margin: 0;
        }
    }

    .description {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 0 0 20px;
    }
}