@import '../Styles/Utils/variables.scss';
h1 {
    font-size: 18px !important;
    font-weight: 500;
    color: $primary-color;

    @media screen and (min-width: 768px) {
        font-size: 36px !important;
    }
}