@import '../Styles/Utils/variables.scss';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px auto 27px auto;
    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
        max-width: 1240px;
        
    }
}

.logo {
    width: 145px;
    @media screen and (min-width: 768px) {
        width: 210px;
    }
}

.links {
    display: flex;
    gap: 26px;
    font-size: 12px;
    color: $quaternary-color;
    @media screen and (min-width: 768px) {
        font-size: 24px;
        gap: 57px;
    }
}

.link {
    text-decoration: underline;
    cursor: default;
    font-size: 14px;
    @media screen and (min-width: 768px) {
        font-size: 28px;
        
    }
}