@import '../Styles/Utils/variables.scss';

.banner {
    position: relative;
    width: 100%;
    height: 111px;
    min-width: 325px;
    border-radius: 10px;
    box-shadow: 0px 7px 7px 0px rgba($quaternary-color, 0.25);


    @media screen and (min-width: 768pxpx) {
        height: 223px;
        margin: 0 100px 100px 100px;
        border-radius: 25px;
    }


    .imgBanner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-radius: 10px;
        filter: brightness(0.5);

        @media screen and (min-width: 768pxpx) {
            border-radius: 25px;
        }
    }

    .textBanner {
        color: $tertiary-color;
        text-shadow: 1px 1px 2px $quaternary-color;
        position: relative;
        text-align: center;
        top: 40px;
        font-size: 24px;
        font-weight: 700;
        padding: 0 16px;

        @media screen and (min-width: 768pxpx) {
            font-size: 48px;
            width: 100%;
            padding: 0;
        }
    }
}